@import url(../../../lib/font/fonts/geeks.css);

$col-secondary: rgba(96,108,136,1);
$col-darken: rgba(63,76,107,1);

// BASES
h1, h2, h3, h4, h5, h6 {
  font-family: 'nasalizationregular';
}

.container {
  width: 100%;
  header {
    &.top-table {
      width: 100%;
      padding: 16px 0 10px 0;
      color: white;
      background-color: $col-secondary;
      border-radius: 4px;
      text-align: left;
      box-shadow: 0px 0px 30px $col-secondary;
      font-size: 22px;
      font-family: 'nasalizationregular';
      text-transform: uppercase;

      span {
        display: inline-block;
        margin-left: 10px;
      }
    }

    &.top-slide {
      color: $col-secondary;
      width: 100%;
      padding: 16px 0 10px 0;
      border-radius: 4px;
      text-align: left;
      text-transform: uppercase;
      font-size: 32px;
      margin-bottom: 30px;

      span {
        font-family: 'nasalizationregular';
        background: -webkit-linear-gradient($col-secondary, $col-darken);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 10px $col-secondary;
      }

      i {
        color: $col-darken;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 0px $col-secondary;
      }

      ul {
        float: right;
        list-style: none;
        li {
          display: inline-block;
          font-size: 12px;
        }
        i {
          display: inline-block;
          width: 10px;
          height: 10px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin-right: 5px;

          &.desligado {
            background-color: #dc322f;
          }
          &.ferias {
            background-color: #ffae00;
          }
          &.formacao {
            background-color: #1b91ff;
          }
          &.saopaulo {
            background-color: green;
          }
          &.lider {
            background-color: $col-secondary;
          }
          &.emprestado {
            background-color: #6c71c4;
          }
        }
      }
    }
  }

  table {
    margin-top: 16px;
    width: 100%;
    display: inline-block;
  }

  tbody {
    font-size: 14px !important;
    font-weight: 300;
    color: #454545;
    th {
      text-align: center;
    }
  }

  thead {
    color: $col-secondary;
    font-family: 'nasalizationregular';
    font-size: 24.2px !important;
    background: -webkit-linear-gradient($col-secondary, $col-darken);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 30px $col-secondary;
    th {
      padding-bottom: 10px;
    }
  }

  .table {
    width: 100%;
    display: table;
    font-size: 16px;

    span {
      display: inline-block;
      width: 12%;

      &.otd, &.ftr {
        width: 6%;
      }
      &.produto {
        width: 10%;
      }
      &.sprint {
        width: 8%;
      }
      &.status {
        width: 8%;
      }
      &.titulo {
        width: 32%;
      }
      &.trabalhado {
        width: 14%;
      }
      &.sprint {
        width: 10%;
      }
    }
  }

  .table-thead {
    margin-top: 16px;
    text-transform: uppercase;

    span {
      font-family: 'nasalizationregular';
      background: -webkit-linear-gradient($col-secondary, $col-darken);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 0px 30px $col-secondary;
    }
  }

  .table-body {
    margin-top: 16px;
    font-size: 14px !important;

    span {
      vertical-align: middle;
    }
  }

  .row {
    width: 100%;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid $col-secondary;
  }
}

.badge {
  display: inline-block;
  width: 20px !important;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  &.alert {
    background-color: #dc322f;
  }
  &.success {
    background-color: #3adb76;
  }
  &.warning {
    background-color: #ffae00;
  }
}
// UTILS
.bg-cover {
  width: 200px;
  height: 200px;
}

.va-txt-top {
  vertical-align: text-top !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.width-50 {
  width: 49% !important;
}

.width-100 {
  width: 100% !important;
}

.logotype {
  color: $col-secondary;
  font-family: 'sf_viper_squadronregular';
  text-shadow: 0px 0px 30px $col-secondary;
  line-height: 1.4;
  margin: 0;
  background: -webkit-linear-gradient($col-secondary, $col-darken);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dib  {
  display: inline-block !important;
}

// SECTIONS
.intro {
  h2 {
    @extend .logotype;
  }
  h4 {
    color: $col-secondary;
    text-transform: uppercase;
    background: -webkit-linear-gradient($col-secondary, $col-darken);
    text-shadow: 0px 0px 30px $col-secondary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h5, h6 {
    color: $col-darken;
  }
  h5 {
    color: $col-secondary;
    font-size: 32px;
    margin-top: 5rem;
  }
  h6 {
    font-size: 28px;
  }
}

// organograma
.grid-teams {
  .nav-team {
    padding: 8px;
    border: 2px solid $col-secondary;
    box-shadow: 0px 0px 10px $col-secondary;
    text-align: left;
  }

  figure, .member-info {
    display: inline-block;
  }

  .avatar {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid white;
    position: relative;

    i {
      position: absolute;
      display: inline-block;
      width: 14px;
      height: 14px;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      background-color: transparent;
    }

    &.desligado {
      border-color: #dc322f;
      i {
        background-color: #dc322f;
      }
    }
    &.ferias {
      border-color: #ffae00;
      i {
        background-color: #ffae00;
      }
    }
    &.formacao {
      border-color: #1b91ff;
      i {
        background-color: #1b91ff;
      }
    }
    &.saopaulo {
      border-color: green;
      i {
        background-color: green;
      }
    }
    &.lider {
      border-color: $col-secondary;
      i {
        background-color: $col-secondary;
      }
    }
    &.emprestado {
      border-color: #6c71c4;
      i {
        background-color: #6c71c4;
      }
    }
  }


  .member {
    width: 19%;
    display: inline-block;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .member-info {
    vertical-align: top;
    padding-top: 5px;

    h4, p {
      margin: 0;
    }
    h4 {
      font-size: 20px;
      font-weight: 700;
      color: $col-secondary;
      line-height: 1;
      font-family: "Lato", sans-serif;
    }
    p {
      font-size: 16px;
      color: $col-darken;
    }
  }
}
.team {
  padding: 10px;
  display: inline-block;

  &:nth-child(even) {
    margin-top: 30px;
  }

  header {
    background-color: $col-secondary;
    box-shadow: 0px 0px 10px $col-secondary;
    color: white;
    font-size: 22px;
    padding-top: 12px;
    font-family: 'nasalizationregular';
    text-transform: uppercase;
  }
}

// demanda por funcionario
.container {
  .top-member {
    padding: 20px 30px;
    background-color: rgba($col-secondary, .2);
    //border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba($col-secondary, .3);
    position: relative;
    box-sizing: border-box;
    margin-bottom: 30px;

    .avatar {
      width: 140px;
      height: 140px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      z-index: 1;
      border: 2px solid white;
      float: left;
    }
  }
  .top-member-info {
    float: right;
    width: 85%;

    &::before {
      content: '';
      display: block;
      width: 2px;
      position: absolute;
      height: 50%;
      top: 25%;
      left: 0;
      background-color: $col-secondary;
    }

    > div {
      display: inline-block;
      &.member-title {
        width: 25%;
      }
      &.member-chart {
        width: 35%;
        text-align: center;
      }
      &.member-skills {
        width: 38%;
        vertical-align: top;
        text-align: left;
      }
      &.member-title {
        padding-top: 40px;
        text-align: left;
      }
    }
  }

  .member-skills {
    header {
      text-transform: uppercase;
      font-size: 18px;
      color: $col-secondary;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba($col-secondary, .4);
      margin-bottom: 10px;
    }
  }

  .list-skills {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-rule: 1px solid transparent;
    -moz-column-rule: 1px solid transparent;
    column-rule: 1px solid transparent;

    p {
      opacity: 1;
    }
  }

  h4 {
    font-size: 24px;
    color: $col-secondary;
    margin: 0;
    line-height: 1;
  }
  p {
    margin: 0;
    color: $col-darken;
    font-size: 14px;
    text-transform: uppercase;
    opacity: .6;
    line-height: 2;

    &.small {
      font-size: 10px;
    }
  }

  .pie {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eee;
    background-image: linear-gradient(to right, transparent 50%, $col-secondary 0);
    position: relative;
    display: inline-block;
    margin: 10px;

    span {
      position: absolute;
      left: -6px;
      bottom: -27px;
      font-size: 12px;
      text-transform: uppercase;
      color: $col-secondary;
      opacity: .8;
    }
  }

  .pie::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
  }

  .pie::after {
    content: attr(data-value);
    position: absolute;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 20px;
    line-height: 52px;
  }

  @for $i from 0 through 50 {
    .pie[data-value="#{$i}"]:before {
      transform: rotate(#{$i/100}turn);
    }
  }

  @for $i from 51 through 100 {
    .pie[data-value="#{$i}"]:before {
      background-color: $col-secondary;
      transform: rotate(#{$i/100 - .5}turn);
    }
  }
}

.chart-review {
  .hv {
    height: 300px;
  }
}

.team-title {
  h2 {
    font-size: 24px;
    color: $col-darken;
    text-transform: uppercase;
    background: -webkit-linear-gradient($col-secondary, $col-darken);
    text-shadow: 0px 0px 30px $col-secondary;
    -webkit-background-clip: text;
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}